/*Fuentes importadas------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilo------------------*/
:root{
    --primary-color: #0a2f35;
    --grey: #F1E7E4;
    --overlay: #0000009c;
    --rosa-claro: #F1E7E4;
    --blanco-rosa: #fcf7f8; /*texto del fondo y navegador*/
    --fuente-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



html{
    font-size: 40%;
    box-sizing: border-box;
    font-family: var(--fuente-principal);

    scroll-snap-type: y mandatory;
    position: absolute;
    color: black;
   
}

*, *:before, *:after{
    box-sizing: inherit; /*snippet del desarrollador del chrome para que no rebalse*/

    margin: 0;
    padding: 0;
    box-sizing:border-box;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

body{
        /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
   background-color: var(--primary-color);
    font-size: 3rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


/*--------------------- UTILIDADES --------------------------*/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}


/*---------------------header--------------------------*/



.barra {
    padding-top: 4rem;
    background-color:var(--rosa-claro);
    padding: 2rem 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
    
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 3rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: var(--blanco);
}


.navegacion__enlace:hover{
    cursor: pointer;
    
    color: var(--primary-color);
    font-weight: bold;
}


/*-----------------------------Area de contenedores-------------------------*/

@media (max-width: 768px){
    .contenedor-hero2{
       
        width: 100%;
        height:100vh;
        box-sizing: content-box;
        
        display:inline;

        align-items: center;
        justify-content: center;      
        padding-top: 2rem;
      
       
    }

    .hero-elemento{
        max-width: 95%;             
        /*text-align: center;*/
        place-content: center;
        padding:1.2rem;
        
        background-color: whitesmoke;
        margin: 0 auto;
        display: inline-block;
        margin-top: 1rem;
        border-radius: 2rem;
       
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    }

    .hero-elemento img{
        width: 100%;       
        padding-bottom: 0;        
    
    }

    .hero-elemento h1{       
        text-align: center;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .hero-elemento p{    
        font-style: italic;
        font-weight: normal;
       
        text-align: center;
        padding: 0.5rem;
    } 
    .contenedor-recomendaciones {
        width: 100%;
        display: block;
        padding: 2rem;
        background-color: var(--rosa-claro);
        font-weight: normal;
    }
    .cajas-recomendacion-numero{
        font-style: normal;
        font-weight: bold;
        font-size: larger;
        color: var(--blanco-rosa);
        background-color: var(--primary-color);
        margin:2rem 0;
    }
    
    .lista-caja{
        background-color: var(--primary-color);
        color: #ebedee;

        width: 100%;
        height: 50%;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: none;
    }

}

@media (min-width: 768px){

   .contenedor-hero2{        
        width: 90%; /*100*/
        display: inline-block;
        
        align-items: center;
        justify-content: center;    
        padding: 1rem;    
    }

    .hero-elemento{
        
        position: relative;
        width: 100%; /*80*/
        padding-top: 1rem;
        margin: 0 auto;
     
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
     
        border-radius: 4rem;
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
        padding: 0.5rem;
    }

    .hero-elemento img{
       width: 50%;      
       padding-left: 30rem;
    }

    .hero-elemento p{           
      
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        text-align: center;
    }


 .contenedor-recomendaciones{
        width: 90%;
        margin-top: 3rem;
    }
   main.contenedor-recomendaciones.hero-elemento{
       
        box-shadow: none;
    }

    .contenedor-recomendaciones img{
       
        padding-left: 0%;
        padding-bottom: 0%;

        width: 100%;
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }

    .recomendaciones{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: justify;
        grid-template-rows: auto  ;
        column-gap: 2rem;
        row-gap: 1rem;
        
        padding: 2rem 1rem;      
    }
        
    .cajas{
        font-family: 'Lucida Sans';
    
        text-align: justify;
        padding: 2rem;
        border-radius: 4rem;
        line-height: 5rem;

        align-items: center;
        justify-content: center;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    
    }

    .cajas-recomendacion-numero{ 
        font-size: 25px;
    
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        padding: 10rem 10rem 5rem 10rem;
        color: #ebedee;

    }

    .cajas-tip{
        text-align: center;   
        padding: 5rem 5rem 5rem 5rem;
    
        background-color: var(--primary-color);
        border-radius: 4rem;
        
    }

    .cajas:nth-child(1)
    {    
        grid-column: 1;  grid-row: 1;
    }

    .cajas:nth-of-type(2)
    {
        grid-column: 2;  grid-row: 1;
    }
    .cajas:nth-of-type(3)
    {
        grid-column: 2; grid-row: 2;
    }
    .cajas:nth-of-type(4)
    {
        grid-column: 1; grid-row: 2;
    }
    .cajas:nth-of-type(5)
    {
        grid-column: 1; grid-row: 3;
    }
    .cajas:nth-of-type(6)
    {
        grid-column: 2; grid-row: 3;
    }


    .contenedor-hero2,.contenedor-recomendaciones,
    .cajas,.contenedor-requisitos-adopcion{

        scroll-snap-align: center;
        scroll-snap-stop: always;
    }


    /*--------------Seccion requisitos--------------------------*/
    .contenedor-requisitos-adopcion{
        text-align: left;
        margin-top: 3rem;
        padding: 3rem 1rem 1rem 5rem;
        width: 90%;
        display: block;
    }

    .titulo-adopcion
    {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
    
        display: block;
    
    }

    .subtitulo{
        text-align: center;
        font-style: italic;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }

    .apartado-opciones-adopcion{
        text-align: left;
        /*background-color: #4DD0E1;*/
    }

    .lista-opciones-adopcion{
        text-decoration: none;
        list-style-type:none;
    }

    .lista-caja{
        background-color: var(--primary-color);
        color: #ebedee;

        width: 35%;
        height: 40%;
        padding: 2rem;
        margin: 2rem 0;
        border-radius: 5rem;
    }

    .titulo-lista{
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
    }
}


